---
  import Layout from '../../layouts/Layout.astro';
  import Characters from '../../components/CharacterList.astro'
  import MainTitle from '../../components/MainTitle.astro'
  export async function getStaticPaths() {
    const link =`https://swapi.dev/api/people`
    const response = await fetch(link);
    const data = await response.json();
    const totalPages = Math.ceil(+data['count'] / 10 );
    return [...Array(totalPages)].map((_,i)=> ({
      params: {page: i+1}
    }))
  }

  const { page } = Astro.params;
---
<Layout title="Star Wiki">
	<main>
		<MainTitle></MainTitle>
		<h2>Personajes</h2>
		<Characters page={page}>
	</main>
</Layout>