---
import Layout from '../layouts/Layout.astro';
import Characters from '../components/CharacterList.astro'
---

<Layout title="Star Wiki">
	<main>
		<a href="/"><h1>STAR WARS WIKI</h1></a>
		<h2>Personajes</h2>
		<Characters page='1'>
	</main>
</Layout>
