---
import Layout from '../layouts/Layout.astro';
import Characters from '../components/CharacterList.astro'
import MainTitle from '../components/MainTitle.astro';

---

<Layout title="Star Wiki">
	<main>
		<MainTitle></MainTitle>
		<h2>Personajes</h2>
		<Characters page='1'>
	</main>
</Layout>
